/* Local Fonts */
@import './partials/_fonts.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_accordion.css';
@import './partials/_btn.css';
@import './partials/_container.css';
@import './partials/_typography.css';
@import './partials/_usp-banner.css';
@import './partials/_hero.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';


.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    will-change: transform;

    @screen md {
        margin-left: -30px;
    }
}

.embla__slide {
    position: relative;
    flex: 0 0 auto;
    width: 100%;

    @screen md {
        width: 50%;
        padding-left: 30px;
    }

    @screen xl {
        width: 33.3%;
    }
}